html,
body,
#map-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
.google-maps img {
  max-width: none !important;
  height: auto !important;
  background: none !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.main-tab {
  width: 400px;
  position: absolute;
  right: 20px;
  font-size: 16px;
  margin: 50px;
  color: #ffffff;
  z-index: 1;
}
@media (max-width: 600px) {
  .main-tab {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    bottom: -110px;
  }
  .main-tab .results-tab {
    display: none;
  }
  .main-tab .controls {
    margin-top: 0;
  }
}
.tab {
  color: #ffffff;
  background-color: rgba(0, 5, 10, 0.7);
  padding: 30px;
}
.tab h3 {
  font-weight: 300;
  margin: 0;
  font-size: 24px;
}
@media (max-width: 600px) {
  .tab {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.search-tab {
  border-bottom: 1px solid rgba(180, 180, 180, 0.8);
}
.suggestions-tab {
  padding: 20px 30px;
  border-top: 1px solid #000;
}
@media (max-width: 600px) {
  .suggestions-tab {
    padding-top: 15px;
  }
  .suggestions-tab h3 {
    font-size: 20px;
  }
}
.event-icons {
  padding: 15px 0;
  list-style: none;
}
.event-icons li {
  display: inline-block;
  margin: 0;
  width: 19%;
  text-align: center;
  font-size: 25px;
}
.event-icons li a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 480px) {
  .event-icons {
    padding: 10px 0;
  }
  .event-icons li {
    margin-bottom: 10px;
  }
  .event-icons li .type-icon {
    padding: 12px;
    font-size: 20px;
  }
}
.type-icon {
  display: inline-block;
  border-radius: 50%;
  background-color: #039aba;
  position: relative;
  padding: 15px;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
.type-icon:hover {
  background-color: #04c4ec;
  box-shadow: 0 0 0 5px #04c4ec;
}
.your-friends {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #78dff3;
  line-height: 1.1;
}
.results-tab {
  position: relative;
  margin-top: 25px;
  padding: 30px;
  transition: all .5s linear;
  min-height: 350px;
  max-height: 500px;
  overflow-y: auto;
}
.event-card {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.event-card.lone {
  width: 100%;
}
.event-card.card-infbx {
  width: 100%;
  display: block;
}
.event-card .event-title {
  position: relative;
  margin-bottom: 0;
  font-size: 25px;
  color: #999;
  margin-top: 20px;
}
.event-card .availability {
  font-size: 14px;
  font-style: italic;
}
.event-card .vacant {
  color: #7cb681;
}
.event-card .non-vacant {
  color: #b67c7c;
}
.event-card address {
  font-style: normal;
  margin: 15px 0;
}
.event-card .event-date {
  display: block;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .event-card {
    width: 100%;
  }
}
.details-tab {
  position: absolute;
  top: 200px;
  left: -50px;
  display: none;
}
.details-tab .event-heading {
  text-align: right;
  margin-bottom: 15px;
}
.details-tab .event-heading h2 {
  margin: 0;
}
.details-tab .event-heading .your-friends {
  margin: 0;
}
.overlay-tab {
  padding: 30px;
}
.overlay-tab .event-card {
  width: 100%;
}
.overlay-tab .event-card .event-title {
  color: #ffffff;
  font-size: 28px;
  margin-top: 10px;
}
.overlay-tab .event-card .vacant {
  color: #AEE4B3;
}
.details-event-title {
  margin-top: 0;
}
.card-img {
  width: 30%;
}
.main-tab img {
  max-width: 100%;
}
.location-specs {
  list-style: none;
  padding: 0;
}
.tabs {
  list-style: none;
  padding: 0;
}
.tabs > li {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
}
.tabs > li a {
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
}
.tabs > li a:hover {
  color: #e6e6e6;
}
.tabs > li a.active {
  border-bottom: none;
}
.tabs > li.active {
  border-bottom: none;
}
.location-review {
  margin: 0;
  border-left: 4px solid #0ed2fb;
  padding-left: 15px;
}
.location-review footer {
  font-style: italic;
}
.location-review footer:before {
  content: '— ';
}
.flip-container-overlay {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}
.flip-container-overlay.turn .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-container-overlay,
.front-flipper,
.back-flipper {
  width: 400px;
}
.flipper {
  /*transition*/
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  /*transform-style*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.front-flipper,
.back-flipper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front-flipper {
  background-color: rgba(153, 153, 153, 0.98);
  z-index: 2;
}
.back-flipper {
  background-color: #039aba;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.book-form {
  width: 100%;
}
.book-form input {
  display: inline-block;
  color: #ffffff;
  padding: 5px;
  width: 45%;
  line-height: 1.5;
  border: none;
  border-radius: 5px;
  background-color: #41dbfc;
}
.book-form label {
  display: inline-block;
  width: 51%;
  font-size: 18px;
  margin-top: 8px;
}
.book-form .order-button-line {
  float: right;
  margin-top: 15px;
}
.book-btn-line {
  position: absolute;
  right: 0;
}
.btn {
  display: inline-block;
  font: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 15px;
}
.btn-book {
  background: #039aba;
}
.btn-order {
  background-color: #7cb681;
}
.close-tab-btn {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: 0;
  font-size: 20px;
  color: #eeeeee;
  cursor: pointer;
  margin: 10px;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}
.close-tab-btn:hover {
  color: #cacaca;
}
.turn-back {
  position: absolute;
  left: 30px;
  top: 7px;
  width: 25px;
  height: 10px;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}
.turn-back:hover {
  color: #cacaca;
}
#infobox {
  position: relative;
  width: 160px;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
#infobox .btn {
  font-size: 14px -2;
  padding: 4px 11px;
}
.infoBox > img {
  z-index: 100;
}
#infobox:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  left: 47%;
  bottom: -15px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 15px solid rgba(0, 0, 0, 0.5);
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: #ffffff;
  padding: 0 11px 0 13px;
  width: 100%;
  min-width: 200px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
}
.pac-container {
  font-family: 'Roboto';
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
